<a href="https://colab.research.google.com/github/swarnava-96/Clustering/blob/main/DBSCAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DBSCAN on Customers Dataset**

In [1]:
cd "/content/drive/MyDrive/Datasets"

/content/drive/MyDrive/Datasets

### Importing the necessary libraries and Loading the dataset

In [2]:
# Importing the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Loading the dataset

df = pd.read_csv("Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### Taking the necessary features we require for clustering

In [5]:
X = df.iloc[:,[3,4]].values

### Fitting the DBSCAN model

In [6]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps = 3, min_samples = 4)

model = dbscan.fit(X)
labels = model.labels_

In [8]:
from sklearn import metrics

# Identifying core points
samples_cores = np.zeros_like(labels, dtype = bool)

samples_cores[dbscan.core_sample_indices_] = True

# Calculating the number of clusters
n_clusters = len(set(labels)) - (1 if -1 in labels else 0)

print(metrics.silhouette_score(X, labels))

-0.1908319132560097